body {
  background: azure;


}

#crossO th {
  border: black;
  text-align: center;
  font-weight: bold;
}

#crossO td {

  border: 2px solid black;
  height: 100px;
  width: 100px;

  text-align: center;

}

#crossO {

  position: absolute;

  margin-left: 40%;
  margin-top: 10%;
  border-collapse: collapse;
  border: 3px solid black;
  background: #b4ff86;

}

#crossO .cross:after {
  content:'X';
  font-weight: bold;
  font-size: large;
  color: red;
}

#crossO .nought:after {
  content:'0';
  font-size: large;
  font-weight: bold;
  color: navy;
}